body {
    background-image: url('../img/rustic.png');
}

#back-button {
    position: absolute;
    background-color:sienna;
    color: white;
    left: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

#users-button {
    position: absolute;
    background-color:sienna;
    color: white;
    right: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

#heading2 {
    margin: 2px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#post-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

#heading1 {
    position: relative;
    text-align: center;
    top: 20px;
    font-size: 40px;
    margin-bottom: 40px;
}

.post {
    position: relative;
    background-color:sienna;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width:50%;
    text-align: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#new-post-form input[type="text"],
#new-post-form textarea {
    width: 300px;
    margin: 10px;
    display: block;
}

#new-post-form button {
    display: block;
    margin: 0 auto;
    background-color: sienna;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#user-welcome-container {
    padding: 20px;
}